* {
    font-family: 'Lato', sans-serif;
    background-color: #D7CEC7;
    color: #565656;
}
.container ul {
    overflow: inherit;
    list-style-type: none;
    height: 100%
    width: 100%;
    text-align: center;
}

.button ul {
  list-style-type: none;
  width: 93%;
}
.button li {
  display: inline;
}


input {
    width: 80%;
    padding-top: 20px;
    border: none;
    border-bottom: 2px solid #76323F;
    font-size: 2.5rem;
    outline: none;
    margin-bottom: 10px;
}

.button {
	width: 100%;
	text-align: center;
}

#list1, #list2 {
  display: table-cell;
  height: 200px;
  padding-right: 10px;
}

#list3 {
  height: 400px;
}

#updateprofile, #startgifting, #logout, #toStatus {
    background-color: #76323F;
    border: none;
    color: #D7CEC7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: padding .5s, font-size .8s; /* For Safari 3.1 to 6.0 */
    transition: padding .5s, font-size .8s;
    cursor: pointer;
}

#startgifting:hover, #logout:hover {
   padding: 30px 64px; 
   font-size: 22px;
}

.navbutt {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.updateprofile {
	width: 100%;
  cursor: pointer;
  text-align: center;
}

#headTitle, #headInterests {
  margin-top: 50px;
  background-color: #76323F;
  color: #D7CEC7;
}

textarea {
  font-size: 30px;
  width: 99.2%;
  overflow-x: hidden;
}

/* The alert message box */
.alert {
    position: relative;
    padding: 20px;
    background-color: red; /* Red */
    color: white;
    display: none;
    z-index: 1;
}

#interest-alert, #interest-alert2 {
  width: 50%;
  text-align: center;
  margin-left: 35%;
  margin-bottom: 45px;
}

/* The close button */
.alert .closebtn {
    color: black;
    font-weight: bold;
    margin-right: 240px;
    font-size: 22px;
    line-height: 12px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
    background-color: transparent; 
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: white;
}

.interestsbutton {
  width: 100%;
  text-align: center;
}

#int {
  text-align: center;
  background-color: #565656;
    border: 1px solid 565656;
    color: #D7CEC7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none; 
}

#up {
  width: 50%;
  background-color: #565656;
    border: 1px solid 565656;
    color: #D7CEC7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.profile {
	text-align: center;
  width: 100%;
}

#profilePic {
  width: 100px;
  min-width: 250px;
  max-width: 250px;
  max-height: 250px;
  border: 2px solid #76323F;
  border-radius: 50%;
}

div.stars {
  width: 60%;
  text-align: center;
  display: inline-block;

}
 
input.star { display: none
  ; }
 
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-1:checked ~ label.star:before { color: #F62; }
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

