* {
    font-family: 'Lato', sans-serif;
    background-color: #D7CEC7;
}

.status:first-letter {
  color: red;
}

.status {
  padding-top: 25px;
  width: 100%;
  text-align: center;
}

.status1, .status2 {
  padding: 40px;
  font-size: 50px;
  overflow-x: hidden;
}

.match {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

#pic1 {
  width: 100px;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  border: 2px solid #76323F;
  border-radius: 50%;
}

#pic2 {
  width: 100px;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  border: 2px solid #76323F;
  border-radius: 50%;
}

#list2 {
  height: 400px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.button {
  width: 100%;
  text-align: center;
}

#toHome, #actionButton {
  background-color: #76323F;
    border: none;
    color: #D7CEC7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}